@font-face {
  font-family: "iconfont"; /* Project id 3174408 */
  src: url('//at.alicdn.com/t/font_3174408_6uw07sg66jy.woff2?t=1644473570296') format('woff2'),
       url('//at.alicdn.com/t/font_3174408_6uw07sg66jy.woff?t=1644473570296') format('woff'),
       url('//at.alicdn.com/t/font_3174408_6uw07sg66jy.ttf?t=1644473570296') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e7a9";
}

.icon-chevron-left:before {
  content: "\e7aa";
}

.icon-shenghuo:before {
  content: "\e625";
}

.icon-rongqi:before {
  content: "\e63b";
}

.icon-yuyan:before {
  content: "\e62e";
}

.icon-KJ_005:before {
  content: "\e676";
}

.icon-suibi:before {
  content: "\e605";
}

.icon-suanfaku:before {
  content: "\e624";
}

.icon-solution:before {
  content: "\eaff";
}

.icon-golang:before {
  content: "\e76f";
}

.icon-k8s:before {
  content: "\e6c4";
}

.icon-wenjian:before {
  content: "\e603";
}

.icon-icon_openstack:before {
  content: "\e62c";
}

.icon-wendang:before {
  content: "\e61b";
}

.icon-openstack:before {
  content: "\e67b";
}

.icon-list:before {
  content: "\e604";
}

.icon-liebiao2:before {
  content: "\e61c";
}

.icon-liebiao1:before {
  content: "\e602";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-huidaodingbu:before {
  content: "\e601";
}

.icon-shezhi:before {
  content: "\e62a";
}

.icon-fenlei:before {
  content: "\e609";
}

.icon-qita:before {
  content: "\e629";
}

.icon-guanyuwo:before {
  content: "\e62b";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-24gf-tags2:before {
  content: "\e887";
}

.icon-github:before {
  content: "\e64c";
}

.icon-shouye1:before {
  content: "\e8c6";
}

.icon-lianjie:before {
  content: "\e612";
}

.icon-guidangcunchu:before {
  content: "\e660";
}

.icon-java:before {
  content: "\e623";
}

